.login
{
    padding: 32px;
    margin: 32px auto auto auto;
    /* border: blue solid 1px;
    border-radius: 5px; */
}
.sign-in
{
    margin: 16px;
}
.sign-up
{
    margin: 16px;
}
.login-tooltip
{
   color:black;
   height: 30%;
   width: 30%;
}
.tooltip-inner{
    background: white !important;
}
.login-parent
{
    height: 100vh;
    background: #3f3f3f;
}