.text-center
{
    text-align: center;
}
.button-padding
{
    margin:10px;
    padding:10px;
}
.btns
{
    margin:10px;
}
.fb
{
    margin:auto;
    padding: auto;
}
.login-parent
{
    width: auto;
    height: auto;
    background: white;
    display: inline-flex;
}