@keyframes slidein{
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.walter{
  animation: slidein 2s ease-in-out;
  height: inherit;
  width: inherit;
}
.walter:hover{
  filter: grayscale(1) blur(4px);
}
